<div class="container">
  <h2 class="my-4"><span class="bg-light"><%= @group.name %></span></h2>
  <p><%= @group.introduction %></p>
  
  <h3 class="my-4"><span class="bg-light">メンバー一覧</span></h>
  <div class="col-12">
    <%= @users %>
  </div>
</div>