<div class="container">
  <h2><%= @group.name%>へ招待されました</h2>
  <%= form_with model: [@group, @invitation], url: edit_group_invitation_path(@invitation.group_id, @invitation.id), method: :patch do |f| %>
    <% f.hidden_field :approved, :value => true %>
    <%= f.submit "参加", class: "btn btn-success" %>
  <% end %>
  <%= link_to "拒否", group_invitation_path(@invitation.group_id, @invitation.id), method: :delete, "data-confirm" => "グループへの参加を断りますか？", class: "btn btn-danger" %>

</div>